<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="注销"/>
</form>
<br>
this is admin
Logged user: <span sec:authentication="name">Bob</span>
<br/>
<h1>欢迎光临
    当前登陆账号:<label th:text="${name}"></label>
    通过标签设置：:<label sec:authentication="name"></label>
</h1>
</body>
</html>